<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>0</TotalTime><Application>LibreOffice/25.2.3.2$Windows_X86_64 LibreOffice_project/bbb074479178df812d175f709636b368952c2ce3</Application><AppVersion>15.0000</AppVersion><Pages>1</Pages><Words>47</Words><Characters>220</Characters><CharactersWithSpaces>259</CharactersWithSpaces><Paragraphs>8</Paragraphs></Properties>